@import './src/styles.scss';

ul{
  list-style: none;
}

.menu{
  background-color: $alice_blue;
  overflow: hidden;
  border-radius: .5rem;
  border: 1px solid $battleship_gray;
  box-shadow: 0 0 4px $battleship_gray;
}

.menu__item{
  text-align: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $battleship_gray;
  cursor: pointer;
  transition: .5s all;
  font-weight: 600;

  &:nth-child(4){
    border-bottom: none;
  }

  &:hover{
    background-color: $cerulean_frost;
    color: $alice_blue;
  }
}

.active{
  background-color: $yale_blue;
  color: $alice_blue;
}